.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: #E3E5E8;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 16px;
    color: #000;
    border-bottom: 1px solid #E3E5E8;
}

.modal-body {padding: 16px;}

.modal-footer {
    padding: 16px;
    color: #000;
    display: flex;
    justify-content: flex-end;
}

.btn {
	border: 1px solid transparent;
	border-radius:6px;
	padding:15px 25px;
}
.btn-Blue {
    color:#FFF;
	background-color:#5b7cfc;
}
.btn-Red {
    color:#FFF;
	background-color:#ee7e54;
}

.btn-White {
    color:#888;
    margin-right: 10px;
	background-color: #FFF;
    border: 1px solid #E3E5E8;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    border: 1px solid black;  
    padding: 10px 5px;
    box-sizing: border-box;
}

.red {
    color: red;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-more {
    display: inline-block;
}

.btn-plus {
    width: 100px;
    padding: 5px;
}

.btn-Cross {
    width: 30px;
    padding: 5px;
    position: absolute;
    right: 120px;
}

.f-direction {
    flex-direction: row;
}

.mb-10 {
    margin-bottom: 10px;
}