<svg width="50px" height="50px" viewBox="0 0 42 42" class="donut">
  <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
  <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3"></circle>

  <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#5b7cfc" stroke-width="3" [style.stroke-dasharray]="usedPercent + ' ' + availablePercent" stroke-dashoffset="25"></circle>

  <g class="chart-text">
    <text x="50%" y="50%" class="chart-number">
      {{usedDomains}}/{{availableDomains}}
    </text>
  </g>
</svg>